<div class="container">
  <%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 field">
        <%= f.label :category_id %><br>
        <%= f.select(:category_id, Category.all.map {|c| [c.name,c.id]}, :selected => Category.first.id) %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9 field">
        <%= f.label :body %><br>
        <%= f.text_area :body, :cols => "20", :rows => "30" %>
      </div>
     <!--  <div class="col-sm-3">
      </div> -->
    </div>


    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 field">
        <%= f.label :video_url %><br>
        <%= f.text_field :video_url %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 field">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 actions">
        <%= f.submit %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  <% end %>
</div>