<p id="notice"><%= notice %></p>

<% @category = Category.find(@article.category_id) %>
<div class="container">
  <div class="row title">
    <div class="col-sm-12">
      <% unless @category.ancestors.empty? %>
        <% for category in @category.ancestors.reverse %>
          <h2><%= link_to category.name, category %> &gt;
        <% end %>
      <% end %>
      <%= link_to Category.find(@article.category_id).name %>: <%= @article.title %></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row article-body">
    <div class="col-sm-12">
      <strong>Do it:</strong>
      <br><br>
      <%= simple_format h @article.body %>
      <br>
    </div>
  </div>
</div>

<% if @article.picture != nil  %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <div class="col-sm-8">
          <p>This is where the picture should be. </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @article.video_url != nil && @article.video_url != "" %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video-container">
          <%= @article.embed(@article.video_url) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user && current_user.level == 4242 %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(@article) do |f| %>
          <%= f.label :approved %><br>
          <%= f.check_box :approved %><br>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row bottom-nav">
    <div class="col-sm-12">
      <% if current_user && current_user.level == 4242 %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
      <% end %>
      <%= link_to 'Back', articles_path %>
      <!-- <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </div>
  </div>
</div>