<p id="notice"><%= notice %></p>

<div class="container article-container">
  <div class="row">
    <div class="col-sm-12 article-title">
      <%= @article.title %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 article-body">
      <strong>Do it:</strong>
      <br>
      <%= @article.body %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="video-container">
        <%= @article.embed(@article.video_url) %>
      </div>
    </div>
  </div>
</div>

<div class="container article-container">
  <div class="row">
    <div class="col-sm-12 article-body">
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', articles_path %> |
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>