<br>
<div class="container">
  <div class="row title">
    <div class="col-sm-12">
      <h1>Good Elite Gallant Gents (Good EGGs)</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row categories-row">
    <div class="col-sm-12 col-sm-offset-1">
    <% @categories.each do |category| %>
      <div class="col-sm-1 col-xs-3 categories">
        <%= link_to category.name, category %>
      </div>
    <% end %>
    </div>
    <!-- <div class="col-sm-2">
    </div> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 homepage-images image-responsive">
      <%= image_tag "TrueGentleman.jpeg", class: "homepage-image image-responsive" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 homepage-images image-responsive">
      <%= image_tag "AmericanFlag.jpeg", alt: "America", class: "homepage-image image-responsive" %>
    </div>
  </div>
</div>


<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<%= link_to 'New Category', new_category_path %>

