<p id="notice"><%= notice %></p>

<% if @category.name == "Style" %>
  <script>
    $(".responsive-background-image").css("background-image", "url('https://41.media.tumblr.com/tumblr_mdc185t2191r1qhgko1_500.jpg')")
  </script>
<% end %>

<div class="container">
  <div class="row aside submenu">
    <% unless @category.children.empty? %>
      <% for category in @category.children %>
        <div class="col-sm-2 col-xs-6 col-sm-offset-1 categories">
          <%= link_to category.name, category %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row title">
    <div class="col-sm-6 category-title">
      <strong><%= @category.name %></strong>
      <br><br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row category-article-row">
    <div class="col-sm-12 col-sm-offset-1">
      <% @category.articles.each do |article| %>
      <div class="col-sm-3 category-article">
        <strong><%= link_to article.title, article %></strong>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row bottom-nav">
    <div class="col-sm-12">
      <%= link_to 'New Article', new_article_path %>
    </div>
  </div>
</div>